/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('imagem/imagemdefundo.jpg'); /* Caminho da imagem */
  background-size: cover;  /* A imagem cobre todo o fundo */
  background-position: center;  /* A imagem fica centralizada */
  background-attachment: fixed;  /* Fixa a imagem durante o rolar da página */
}

.App-header {
  background: rgba(0, 0, 0, 0.5);  /* Fundo semitransparente para destacar o conteúdo */
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.header-content h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 10px;
}

.header-content p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-link {
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-link:hover {
  transform: scale(1.1);
  color: #00b5e2;
}

footer {
  position: absolute;
  bottom: 20px;
  font-size: 1rem;
  color: #777;
}
